html {
	padding: 1em;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;

	font-family: monospace;

	/*justify-content: center;
	align-items: center;*/
}

ul {
	list-style: none;
}

ul.streaming, ol.streaming {
	display: flex;
	flex-direction: column-reverse;
}

ul li:nth-child(n+26),
ol li:nth-child(n+26) {
	display: none;
}

li {
	display: flex;
	flex-direction: row;
}

li > div {
	text-transform: uppercase;
}

li input {
	border: none;
	flex-grow: 1;
	font-family: monospace;
	margin-left: 1em;
	padding: 0px;
}
